@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700|Quicksand:100,200,300,400,500,60,700');


body {
    font-family: 'Quicksand';
    background-image: url('../images/mega3.jpg')  ;
    -webkit-background-size:cover;
    background-repeat:no-repeat;
    background-color: rgba(248, 247, 216, 0.7);
    width:100%
    height:auto;
    
}

.navbar {
    font-family:'Quicksand';
    font-size: 30px;
}
/*.callout-container {
height:100vh;
background-image: url('assets/images/mega1.jpg') no-repeat;
-webkit-background-size:cover;
background-size:cover;
position: relative;
}*/

.navbar img {
  width: 50%;
  height: auto;
}

@media (max-width: 993px) {
  .navbar img {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 50%;
  }

  .navbar img {
    width: 50%;
    height: auto;
  }
}