@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Quicksand:100,200,300,400,500,60,700');

* {padding:0;
margin:0;
box-sizing: border-box;

}

/*html {overflow-y:hidden;}*/
body {
    font-family: 'Quicksand', sans-serif;
    font-size:66%;
    background-color:lightgray;
    
    
    
  
}

h1 {font-family: 'Exo', sans-serif;

}



.landing-container {
    
min-height: 100vh;
    background: url('../images/mega3.1.jpg') no-repeat bottom right fixed;
    -webkit-background-size:cover;
    background-size: cover;
    display:flex;
    position: relative;
    
    background-position: 35%;
    
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

/*.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}*/

.jumbotron {
    background-color: transparent;
    
    
    
    
}

.jumbotron h1 {
    color: purple;
    font-weight: bold;
    
    background-color: rgba(22, 240, 22, 0.55);
}

.jumbotron .band-message {
    color: rgb(22, 240, 22);
    margin: 25px 0;
    background-color: rgba(243, 79, 243, 0.55);
    font-size:2rem;
    font-weight: bold;
    
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.navbar {
    font-size: 2rem;
    color: yellow;
    
}

.btn {
    color: purple;
    background-color: rgb(22, 240, 22);
}

<!-----------------------------------------------Flip Cards


